/* Customize here */

/* Main application header */
body > header {
    background: white;
    color: #333;
}

body > header button {
    color: #333;
}

/* Hamburger menu lines */
body > header button div {
    background: #333;
}

/* Menu title */
body > nav#main h2 {
    color: #333;
}

/* Section headers */
article > section > header {
    background: white;
}

/* Article h1 - h6 */
article > h1, article > h2, article > h3, article > h4, article > h5, article > h6 {
    color: #333;
}

/* Section h2 - h4 */
article > section h2, article > section h3, article > section h4 {
    color: #333;
}

article > section > header h2, article > section > header h3, article > section > header h4 {
    color: #333;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

/* Footer */
article > footer {
    background: white;
}

/* Dialog h2 - h4 */
body > div.dialog h2, body > div.dialog h3, body > div.dialog h4 {
    color: #333;
}

/* Tab active */
nav.tabs a.active {
    border-bottom: 2px solid #666;
}
