* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: droid sans, sans-serif;
    background: #f5f5f5;
    color: #555;
}

body {
    margin: 0; padding-top: 56px;
    /* From Cordova default template */
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background: #f5f5f5;
}
body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

article button, body > footer button {
    text-transform: uppercase;
    margin: 8px; padding: 12px;
    background: #fff;
    border: 0 none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
}

button:focus {outline: 0 none; }

article {
    margin: 8px 8px 56px;
    overflow: visible;
    max-width: 580px;
}
article > *:first-child {margin-top: 0; }
article p {
    margin: 12px 16px;
    line-height: 1.4em;
    font-size: 15px;
}
article li {margin-bottom: 0.3em; line-height: 1.4em; font-size: 16px; }

body > header {
    position: fixed;
    overflow: auto;
    left: 0; top: 0; right: 0;
    background: #f5f5f5;
    height: 56px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}
body > header h1 {
    margin: 0; padding: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 56px;
    white-space: nowrap;
}
body > header button:first-child {
    color: transparent;
}
body > header button {
    margin: 0 12px 0 0; padding: 12px;
    width: 56px; height: 56px;
    float: left;
    background: transparent;
    border: 0 none;
    color: #fff;
}

body > header button div {
    margin: 3px 4px;
    height: 2px;
    background: #888;
    border-radius: 2px;
}

article > section {
    margin: 16px 0;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .4);
    overflow: auto;
    background: #fff;
}
article > section > header {
    background: #00d;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
article > section h2 {
    margin-left: 16px;
    font-weight: normal;
    font-size: 20px;
    color: #00d;
}
article > section > header h2 {
    margin: 0; padding: 128px 16px 16px;
    color: #fff;
}
article > section h3 {
    margin-left: 18px;
    font-weight: normal;
    font-size: 18px;
    color: #00d;
}
article > section > header h3 {
    margin: 0; padding: 64px 16px 16px;
    color: #fff;
}
article > section h4 {
    margin-left: 16px;
    font-weight: normal;
    font-size: 18px;
    color: #00d;
}
article > section > header h4 {
    margin: 0; padding: 16px;
    color: #fff;
}

article > section > footer {
    padding: 4px;
    border-top: 1px solid #ddd;
}

article > footer {
    margin: 8px -8px -56px; padding: 8px 8px 112px;
    background: #666;
    color: #fff
}

body > nav {
    position: fixed;
    top: 0; bottom: 0; left: 0;
    overflow: hidden;
    width: 0;
    background: #fff;
    transition: width 0.2s;
}

body > nav h2 {
    margin: 32px 0 16px 16px;
    font-size: 18px;
    font-weight: normal;
    color: #00d;
}
body > nav p {
    margin: 0;
    font-size: 14px;
}
body > nav p a {
    padding: 16px;
    display: block;
    text-decoration: none;
    color: #333;
}
body > nav p a:hover {
    background: #eee;
}

body > footer {
    position: fixed;
    overflow: auto;
    left: 0; bottom: 0; right: 0;
    background: #f5f5f5;
    height: 56px;
    border-top: 1px solid #ddd;
}
body > footer p {
    padding-left: 16px;
}

#matte {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

@media (min-width: 800px) {
    body {
        padding-left: 240px;
    }
    body > header {
        padding-left: 16px;
        left: 240px;
    }
    body > footer {
        padding-left: 16px;
        left: 240px;
    }
    body > header button {
        display: none;
    }
    body > nav {
        width: 240px;
    }
}
